@charset "UTF-8";

body {
    background-color: rgba(46, 82, 154, 0.511);

}

div.informacoes {
    background-image: url(fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    display: block;
    width: 255px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 16%;
    right: 5%;
}

.info {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    top: 20%;
    width: 300px;
    max-width: 90%;
    color: rgb(21, 100, 178);
    text-align: center;
    position: absolute;
    left: 5%;
}

.login {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    padding: 5px;
    height: auto;
    text-align: center;
    position: absolute;
    top: 35%;
    right: 5%;

}

input {
    background-color: rgb(100, 177, 233);
    color: white;
    border-radius: 4px;
    padding: 3px;
    margin-top: 4px;
}

input::placeholder {
    color: black;
    font-size: small;
}
.registro{
    background-color: rgb(0, 0, 255);
    color: white;
    font-size: 17px;
    text-align: center;
    padding-bottom: 2px;
    border-style: solid;
    border-color: rgba(90, 85, 85, 0.829);
    border-radius: 3px;

}
.entrar {
    width: 20%;
    color: white;
    background-color: rgb(0, 0, 255);
}

@media(max-width:633px) {
    div.informacoes {
        top: 38%;
        left: 20%;
        width: 80%;
        max-width: 60%;
    }
}

@media (max-width:633px) {
    div.login {
        top: 23%;
        left: 20%;
        width: 100%;
        max-width: 58%;
        margin-top: 20px;
    }
}

@media (max-width:633px) {
    div.info {
        top: 2%;
        left: 20%;
        width: 100%;
        max-width: 60%;
        text-align: center;
    }

    @media(max-width:471px) {
        div.informacoes {
            top: 57%;
            left: 20%;
            width: 80%;
            max-width: 60%;
        }
    }

    @media (max-width:471px) {
        div.login {
            top: 40%;
            left: 20%;
            width: 100%;
            max-width: 58%;
            margin-top: 20px;
        }
    }

    @media (max-width:471px) {
        div.info {
            top: 15%;
            left: 20%;
            width: 100%;
            max-width: 60%;
            text-align: center;
        }
    }
    @media(max-width:444px) {
        div.informacoes {
            top: 56%;
            left: 10%;
            width: 80%;
            max-width: 81%;
        }
    }

    @media (max-width:444px) {
        div.login {
            top: 40%;
            left: 10%;
            width: 100%;
            max-width: 78%;
            margin-top: 20px;
        }
    }
    @media (max-width:444px) {
        input {
           width: 90%;
        }
    }

    @media (max-width:444px) {
        div.info {
            top: 18%;
            left: 10%;
            width: 100%;
            max-width: 81%;
            text-align: center;
        }
    }
    @media(max-width:367px) {
        div.informacoes {
            top: 47%;
            left: 1%;
            width: 100%;
            max-width: 98%;
        }
    }
    

    @media (max-width:367px) {
        div.login {
            top: 31%;
            left: 1%;
            width: 100%;
            max-width: 95%;
            margin-top: 20px;
        }
    }
    @media (max-width:367px) {
        input {
           width: 80%;
        }
    }

    @media (max-width:367px) {
        div.info {
            top: 10%;
            left: 1%;
            width: 100%;
            max-width: 98%;
            text-align: center;
        }
    }
    @media(max-width:308px) {
        div.informacoes {
            top: 47%;
            left: 1%;
            width: 100%;
            max-width: 98%;
        }
    }
    

    @media (max-width:308px) {
        div.login {
            top: 31%;
            left: 1%;
            width: 100%;
            max-width: 95%;
            margin-top: 20px;
        }
    }
    @media (max-width:308px) {
        input {
           width: 80%;
        }
    }

    @media (max-width:308px) {
        div.info {
            top: 07%;
            left: 1%;
            width: 100%;
            max-width: 98%;
            text-align: center;
        }
    }
    @media(max-width:376px) {
        div.informacoes {
            top: 55%;
            left: 1%;
            width: 100%;
            max-width: 98%;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    

    @media (max-width:376px) {
        div.login {
            top: 32%;
            left: 1%;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 95%;
            margin-top: 20px;
        }
    }
    @media (max-width:308px) {
        input {
           width: 80%;
        }
    }

    @media (max-width:376px) {
        div.info {
            top: 07%;
            left: 1%;
            width: 100%;
            max-width: 98%;
            text-align: center;
        }
    }
    @media(max-width:361px) {
        div.informacoes {
            top: 56%;
            left: 1%;
            width: 100%;
            max-width: 98%;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    

    @media (max-width:361px) {
        div.login {
            top: 32%;
            left: 1%;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 95%;
            margin-top: 20px;
        }
    }
    @media (max-width:361px) {
        input {
           width: 80%;
        }
    }

    @media (max-width:361px) {
        div.info {
            top: 06%;
            left: 1%;
            width: 100%;
            max-width: 98%;
            text-align: center;
        }
    }